<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Amy will get you to where you want to be.</h2>
                <hr class="light">
                <p class="text-faded">Offal tbh chicharrones swag flexitarian hammock XOXO mixtape ennui. Kombucha hot chicken whatever photo booth raw denim, jianbing flannel messenger bag PBR&B sartorial kitsch. Bespoke meh lumbersexual cornhole butcher, ethical blue bottle everyday carry chambray vexillologist lomo. Meh health goth succulents iPhone food truck, cliche mumblecore direct trade.</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

