<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 id="call-action">Testimonials</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Click here to read more</a>
        </div>
    </div>
</aside>

