<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>LET'S WORK</h1>
            <hr>
            <p>Ready to put your gross days behind you?  Get in touch!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

