<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="main-title">AMY LYNCH FITNESS</h1>
            <hr>
            <!-- <p>To feel your best, you must be your best!</p> -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

