// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Cardo|Josefin+Sans:400,600');


html,
body {
  width: 100%;
  height: 100%;
}
#blog-nav {
  background-color: $paper;
  border-bottom: 2px solid $magenta;

  .navbar-brand {
    color: $teal;
  }
}


#blog-head{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
  asset-data-url("creative/amy_lift.jpg");
  background-size: contain;
  background-size: cover;
  height: 530px;
  text-align: center;
  border-bottom: 4px groove $magenta;


  h1{
    // color: $paper;
    padding: 145px;
    text-transform: uppercase;
    // font-weight: 700;
    // font-family: 'Cabin', sans-serif;
    text-shadow: 1px 1px 0 $magenta;
    font-family: 'Arvo', sans-serif;
    color: $teal;

  }
  p {

    margin-top: -75px;
    font-weight: 300;
    color: $silk;
  }
}

hr {
    max-width: 50px;
    border-color: $magenta;
    border-width: 5px;
}
#blog-show {
    margin-top: 100px;
    // border: 1px groove $bYellow;
    border-radius: 5px;
}
body#single-blog-post{
  background-color: $paper;


}
.show-button {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    border-color: #f05f40;
    color: #F0F0F0;
    background-color: $charcoal;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin-top: 25px;
}
#more-button {
  margin-top: 45px;
}
body#all-posts {
  background-color: $paper;

}
.blog-title {
  font-family: 'Cardo', serif;
  text-transform: uppercase;
}

.admin-button {
  background-color: $paper;
  color: $charcoal;
  border: none;
  margin-top: 20px;
  margin-left: 250px;
}

.blog-text {
  font-family: 'Josefin Sans', sans-serif;
}

.blog-text-index {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
}

#blog-image {
  margin-top: 30px;
  margin-bottom: 10px;
  border: 2px solid $charcoal;
  border-radius: 5px;
}
