// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-orange: #f05f40;
$background-gray: #EBEBEB;

#blog-nav {
  background-color: black;
}

#blog-head{

  background-image: asset-data-url("creative/amy_lift.jpg");
  background-size: contain;
  background-size: cover;
  height: 530px;
  text-align: center;

  h1{
    color: white;
    padding: 95px;
    text-transform: uppercase;
    font-weight: 700;
  }
  p {

    margin-top: -75px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
  }
}
hr {
    max-width: 50px;
    border-color: #919191;
    border-width: 5px;
}
#blog-show {
    margin-top: 100px;
}
body#single-blog-post{
  background-color: $background-gray;
}
.show-button {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    border-color: #f05f40;
    color: #F0F0F0;
    background-color: $main-orange;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
#more-button {
  margin-top: 45px;
}
body#all-posts {
  background-color: $background-gray;
}
